.btn {
    display: block;

    font-family: $font-roboto;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #fff;
    border-radius: 14px;
    transition: all .3s;

    &--red {
        background: $red;

        &:hover {
            background: #fff;
            color: $main-color;
        }
    }
}