.footer {
    margin-top: 100px;

    background: linear-gradient(180deg, #091c5a 25.5%, #061545 100%);
    padding: 58px 0 78px;

    @media(max-width: $breakpoint768) {
        margin-top: 50px;
        padding: 32px 0;
    }

    &--index {
        margin-top: 0;
    }

    &__logo {
        &-img {
            @media(max-width: $breakpoint480) {
                max-width: 180px;
            }
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        @media(max-width: $breakpoint992) {
            display: contents;
        }
        @media(max-width: $breakpoint768) {
            flex-shrink: 1;
        }
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 70px;

        @media(max-width: $breakpoint768) {
            gap: 50px;
        }
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: 20px;

        @media(max-width: $breakpoint992) {
            flex-direction: column;
            align-items: start;
            gap: 0;
        }
    }

    &__row {
        margin-top: 38px;
        display: flex;
        gap: 32px;

        @media(max-width: $breakpoint992) {
            margin-top: 50px;
            order: 3;
        }
        @media(max-width: $breakpoint480) {
            flex-direction: column;
            gap: 50px;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    &__copyright {
        font-weight: 400;
        font-size: 12px;
        color: #fff;

        &-link {
            text-transform: uppercase;
            text-decoration: underline !important;
            color: #fff;
            transition: color .3s;

            &:hover {
                color: $red;
            }
        }
    }
}