.left-menu {
    display: flex;
    flex-direction: column;
    min-height: 0;

    &__item {
        display: flex;

        &:last-child {
            @media(max-width: $breakpoint992) {
                border-radius: 0 0 10px 10px;
                overflow: hidden;
            }
        }
    }
    &__link {
        padding: 22px 28px 22px 36px;
        width: 100%;

        font-weight: 400;
        font-size: 20px;
        color: #000;
        transition: all .3s;

        @media(max-width: $breakpoint992) {
            font-size: 16px;
            padding: 12px 24px;
        }

        &:hover {
            background-color: rgba(196, 203, 223, .3);
        }

        &.active {
            // text-decoration: underline;
            // text-underline-offset: 3px;
            background-color: #c4cbdf;
            color: #fff;
        }
    }
}