.menu-nav {
    display: flex;
    align-items: center;
    gap: 40px;

    @media(max-width: $container-width) {
        gap: 16px;
    }
    @media(max-width: $breakpoint1280) {
        gap: 10px;
    }
    @media(max-width: $breakpoint1024) {
        display: none;
    }

    &__item {
        display: flex;
    }

    &__link {
        display: inline-block;
        position: relative;

        font-weight: 400;
        font-size: 16px;
        text-align: justify;
        color: #fff;
        position: relative;
        transition: color .25s ease;

        @media(max-width: $breakpoint1280) {
            font-size: 14px;
        }

        &--active {
            &::before {
                content: '';
                position: absolute;
                right: 0;
                bottom: 0;
                width: 100% !important;
                height: 1px;
                background: #fff;
            }
        }

        &::before {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            width: 0;
            height: 1px;
            background: #fff;
            transition: width .25s ease-out;
        }

        &:hover {
            &::before {
                width: 100%;
                left: 0;
                right: 0;
            }
        }
    }
}