.menu {
    display: inline-flex;
    
    @media(max-width: $breakpoint768) {
        display: none;
    }
}

// button
.btn-menu {
    display: none;
    flex-direction: column;
    justify-content: center;

    position: relative;

    width: 26px;
    height: 20px;

    @media(max-width: $breakpoint1024) {
        display: flex;
    }

    &::after {
        content: '';
        background: $main-color;
        height: 100%;
        width: 2px;
        position: absolute;
        right: 2px;
        top: 0;
    }

    & span {
        position: absolute;

        background: #fff;
        border-radius: 100px;
        width: 100%;
        height: 2px;

        transition: all .3s;

        &:first-child {
            top: 0;    
            left: 0;
            transform-origin: center;
        }
        &:nth-of-type(2) {
            top: 50%;
            transform: translateY(-50%);    
            left: 0;
        }
        &:last-child {
            bottom: 0;    
            left: 0;
            transform-origin: center;
        }
    }

    &--open {
        width: 26px;
        height: 22px;
        overflow: hidden;

        & span {
            &:first-child {
                display: block;
                rotate: 45deg;
                top: auto;
            }
            &:nth-of-type(2) {
                transform: translateX(100%);
            }
            &:last-child {
                display: block;
                rotate: -45deg;
                bottom: auto;
            }
        }

        &::after {
            display: none;
        }
    }
}

.header--light {
    & .btn-menu::after {
        display: none;
    }
}