.second-page {
    margin-top: 180px;

    @media(max-width: $breakpoint1024) {
        margin-top: 120px;
    }
    @media(max-width: $breakpoint768) {
        margin-top: 100px;
    }
}

.about-section {
    padding-top: 90px;

    @media(max-width: $breakpoint768) {
        padding-top: 50px;
    }
}

.faces-section {
    padding-top: 90px;

    @media(max-width: $breakpoint768) {
        padding-top: 50px;
    }
}

.news-section {
    padding-top: 90px;

    @media(max-width: $breakpoint768) {
        padding-top: 50px;
    }
}

.bottom-section {
    padding: 90px 0 140px;

    background-image: url(../assets/img/bg/bottom-bg.svg);
    background-repeat: no-repeat;
    background-position: 50% 0;

    @media(max-width: $breakpoint992) {
        padding: 50px 0 0 0;
        background-image: none;
    }
}

.banner-section {
    
}

.title-section {
    padding: 44px 0;

    &__title {
        font-weight: 400;
        font-size: 24px;
        color: #000;

        @media(max-width: $breakpoint768) {
            font-size: 20px;
        }
    }
}