.second-page {
    margin-top: 184px;

    @media(max-width: $breakpoint1280) {
        margin-top: 170px;
    }
    @media(max-width: $breakpoint1024) {
        margin-top: 84px;
    }
    @media(max-width: $breakpoint375) {
        margin-top: 76px;
    }
}

.about-section {
    padding-top: 50px;

    @media(max-width: $breakpoint768) {
        padding-top: 30px;
    }
}

.faces-section {
    padding-top: 50px;

    @media(max-width: $breakpoint768) {
        padding-top: 30px;
    }
}

.news-section {
    padding-top: 50px;

    @media(max-width: $breakpoint768) {
        padding-top: 30px;
    }
}

.bottom-section {
    padding: 50px 0;

    background-image: url(../assets/img/bg/bottom-bg.svg);
    background-repeat: no-repeat;
    background-position: 50% 0;

    @media(max-width: $breakpoint992) {
        padding: 50px 0 0 0;
        background-image: none;
    }
}

.banner-section {
    
}

.title-section {
    padding: 44px 0 28px;

    &__title {
        font-weight: 400;
        font-size: 24px;
        color: #000;

        @media(max-width: $breakpoint768) {
            font-size: 20px;
        }
    }
}

.error-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background: $main-color;
    min-height: calc(100dvh - 200px);
    position: relative;

    background-image: url(../assets/img/bg/error-bg.svg);
    background-repeat: no-repeat;
    background-position: 50% 80%;
}

.opora-contact-section {
    padding-top: 50px;

    @media(max-width: $breakpoint768) {
        padding-top: 30px;
    }
}