.social {
    margin-top: 92px;
    
    @media(max-width: $breakpoint768) {
        margin-top: 50px;
    }

    &__item {
        container: social-card / inline-size;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(460px, 1fr));
        gap: 20px;

        @media(max-width: $breakpoint1024) {
            grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
        }
        @media(max-width: $breakpoint480) {
            grid-template-columns: none;
            gap: 10px;
        }
    }
    &__card {
        background: $main-color;
        border-radius: $main-radius;
        padding: 44px 48px 40px;

        display: flex;
        justify-content: space-between;
        align-items: end;

        @container social-card (max-width: 575px) {
            padding: 28px 24px 32px;

            & .social__left {
                max-width: 280px;

                &-title {
                    font-size: 20px;
                }
                &-text {
                    font-size: 14px;
                }
            }
            & .social__img {
                max-width: 80px;
            }
        }

        @media(max-width: $breakpoint375) {
            display: flex;
            flex-direction: column-reverse;
            align-items: flex-start;
            gap: 12px;
        }
    }
    &__left {
        max-width: 340px;

        @media(max-width: $breakpoint480) {
            max-width: 240px !important;
        }

        &-title {
            font-family: $font-roboto;
            font-weight: 600;
            font-size: 24px;
            text-transform: uppercase;
            color: #fff;
            text-wrap-style: balance;

            @media(max-width: $breakpoint480) {
                font-size: 16px !important;
            }
        }
        &-text {
            margin-top: 20px;

            font-weight: 400;
            font-size: 16px;
            color: #fff;

            @media(max-width: $breakpoint480) {
                font-size: 12px !important;
            }
        }
        &-link {
            margin-top: 20px;
            max-width: fit-content;
            padding: 12px 48px;

            @media(max-width: $breakpoint480) {
                margin-top: 16px;
            }
        }
    }
    &__img {
        @media(max-width: $breakpoint480) {
            max-width: 66px !important;
        }
    }
}